.card1{
    width: 1190px;
max-height: 500px;
        // align-items: center;
    margin-top: 30px;
    margin-left: -1%;
    // margin-right: 4%;
}
#realTimeLineChart{
    // align-self: auto;

    width:1000px;
    max-height: 400px;
    // height: 600px;
}