<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
            <div *ngIf="f.phonenumber.errors.required">phone number is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="emailid">Email ID</label>
        <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
        <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
            <div *ngIf="f.emailid.errors.required">Mail id is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="subscribed_topic">Subscribed Topic</label>
        <input type="text" formControlName="subscribed_topic" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subscribed_topic.errors }" />
        <div *ngIf="submitted && f.subscribed_topic.errors" class="invalid-feedback">
            <div *ngIf="f.subscribed_topic.required">Mail id is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
