.card2{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4.5rem;
  margin-right: 2rem;
}
  #bar{
      height: 600px;
      width: 565px;
  }

  #barchart-content{
    padding-top:30px
  }
          
  #header2{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Slab'

}