.parent-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}

// .parent-layout > app-real-timegraph {
//     height: 400px;
// }

.child-layout-1 {
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 5rem;
   
}


