.parent-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.parent-layout > app-real-timegraph {
    height: 400px;
}

.child-layout-1 {
    display: flex;
    justify-content: space-around;
}


