<mat-toolbar class="navbar">
    <mat-toolbar-row>
       <span class="spacer"></span>
       <a mat-raised-button  matTooltip="You will be logged out"
       (click)="logout()">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar> 
<div class="parent-layout">
    <app-real-timegraph></app-real-timegraph>
    <div class="child-layout-1">
        <app-bar-chart [data] = "barChartData" ></app-bar-chart>
        <app-pie-chart [data] = "pieChartData"></app-pie-chart>
    </div>
    <app-multi-line-chart></app-multi-line-chart>
</div>