.card3{
    
        margin-top: 2rem;
        margin-bottom: 2rem;
    //margin-left: 2rem;
        margin-right: 5.5rem;
      
}
#header3{
    text-align: left
}
#pie{
    height: 600px;
    width: 565px;
}
#pie-content{
    padding-top:30px;
}